<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Imron Shoimov</h1>
        <h2>Backend dasturchi</h2>
        <p>
            <strong>Address</strong> Toshkent, Uzbekistan
        </p>
        <p>
            <strong>Telefon</strong> <a href="to:+997974409931">+998 97 440 9931</a>
        </p>
        <p>
            <strong>E-mail</strong> <a href="mailto:imronshoimov125@gmail.com">imronshoimov125@gmail.com</a>
        </p>
    </header>
    <section>
        <p>Maqsadim: katta loyihalarda jamoa bilan birgalikda ishlash!</p>
        <ul>
            <li>
                <h3>Texnologiyalar</h3>
                <p>
                    Html, Css, JavaScript, Git, Bootstrap, Sass, Node.js, Express, Rest API, Graphql, ES6, Websocket Io, MVC, SSR, template engine(ejs), PostgresQL, MongoDB
                </p>
            </li>
            <li>
                <h3>Ta'lim</h3>
                <p>O'rta maktab diplomi</p>
                <p>
                    Najot ta'lim
                </p>
            </li>
            <li>
                <h3>Til</h3>
                <ul>
                    <li>Ingliz tili - Intermediate</li>
                    <li>Rus tili - Intermediate</li>
                </ul>
            </li>
            <li>
                <h3>Portfolio</h3>
                <p>
                    <strong>Budget:</strong> <a target="__blank" href="https://budget-sql-app.herokuapp.com/">https://budget-sql-app.herokuapp.com/</a>
                </p>
                <p>
                    <strong>Youtube-alternative:</strong> <a target="__blank" href="https://youtube-alt.herokuapp.com/">https://youtube-alt.herokuapp.com/</a>
                </p>
            </li>
            <li>
                <h3>Github</h3>
                <strong>Github manzil:</strong> <a target="__blank" href="https://github.com/imronshoimov">https://github.com/imronshoimov/</a>
            </li>
        </ul>
    </section>
</body>
</html>